@font-face{font-family:'Inter';font-weight:400;font-style:normal;src:url('fonts/Inter-400.ttf') format('truetype');}
@font-face{font-family:'Inter';font-weight:500;font-style:normal;src:url('fonts/Inter-500.ttf') format('truetype');}
@font-face{font-family:'Inter';font-weight:600;font-style:normal;src:url('fonts/Inter-600.ttf') format('truetype');}
@font-face{font-family:'Inter';font-weight:700;font-style:normal;src:url('fonts/Inter-700.ttf') format('truetype');}
@font-face{font-family:'Sora';font-weight:400;font-style:normal;src:url('fonts/Sora-400.ttf') format('truetype');}
@font-face{font-family:'Sora';font-weight:600;font-style:normal;src:url('fonts/Sora-600.ttf') format('truetype');}
@font-face{font-family:'Sora';font-weight:700;font-style:normal;src:url('fonts/Sora-700.ttf') format('truetype');}
@font-face{font-family:'Sora';font-weight:800;font-style:normal;src:url('fonts/Sora-800.ttf') format('truetype');}